.chat-input {
    padding-top: 20px;
    width: 80%;
}

.chat-notification {
    text-align: center;
}

.button-globe {
    float: right;
    margin-top: 18px;
}

mat-list {
    max-height: 600px;
    overflow: auto;
}
